.image{
    height: 250px;
    width: 260px;
}
body{
    background-color: pink;
    text-align: center;
}
.txtB{
    padding: 10px;
}

h1{
    color:deeppink;
}
.btn{
    width: 190px;
    padding: 10px;
}
#txt1{
    padding: 10px;
}
#txt2{
    padding: 10px;
}


